In [ ]:
from function_exercises import calculate_tip

In [ ]:
calculate_tip(340.00)

In [ ]:
from function_exercises import get_letter_grade as glg

In [ ]:
glg(65)

In [ ]:
import itertools

letters = 'abc'
numbers = '123'

for combination in itertools.product(letters, numbers):
    combined = combination[0] + str(combination[1])
    print(combined)

In [ ]:
len(list(itertools.product(letters, numbers)))

In [ ]:
import itertools

letters = 'abcd'

for combination in itertools.combinations(letters, 2):
    print(''.join(combination))

In [ ]:
len(list(itertools.combinations(letters, 2)))

In [ ]:
import itertools

letters = 'abcd'

for permutation in itertools.permutations(letters, 2):
    print(''.join(permutation))

In [ ]:
len(list(itertools.permutations(letters, 2)))

In [6]:
import json

datasets = json.load(open('profiles.json'))

In [7]:
type(datasets)

list

In [8]:
len(datasets)

19

In [9]:
countA = 0
countI = 0

for dataset in datasets:
    print(dataset['isActive'])
    
    if dataset['isActive']:
        #print to ensure it's catching the active people
        print('this user is active')
        countA += 1
    else:
        print('this user isnt active')
        countI += 1
        
#print out the final count
count = countA + countI
print("Inactive users: ", {countI})
print("Active user: ", {countA})
print("Total users: ", {count})

False
this user isnt active
False
this user isnt active
True
this user is active
False
this user isnt active
False
this user isnt active
True
this user is active
False
this user isnt active
False
this user isnt active
False
this user isnt active
True
this user is active
True
this user is active
True
this user is active
False
this user isnt active
True
this user is active
True
this user is active
False
this user isnt active
False
this user isnt active
True
this user is active
True
this user is active
Inactive users:  {10}
Active user:  {9}
Total users:  {19}

In [12]:
type(datasets)

list

In [ ]:
import pandas as pd

In [18]:
balance_total = 0

for dataset in datasets:
    bal = float(dataset['balance'].strip('$').replace(',',''))
    print(bal)
    balance_total += bal

balance_total

2097.02
3654.02
1536.02
3919.64
3681.39
1694.42
1214.1
2930.31
1944.15
2839.22
2467.31
3304.99
3844.42
3594.99
2940.24
3062.41
3067.82
2646.76
2227.79

52667.02

In [45]:
round(balance_total / len(datasets),2)

2771.95

In [46]:
balance_lowest = []

#putting all my cleaned balances in a list
for dataset in datasets:
    bal = dataset['balance'].strip('$').replace(',','')
    bal = float(bal)
    balance_lowest.append(bal)

balance_lowest

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [47]:
max(balance_lowest)

3919.64

In [40]:
min(balance_lowest)

1214.1

In [36]:
balance_lowest = min(balance_lowest)

for dataset in datasets:
    bal = float(dataset['balance'].strip('$').replace(',',''))
    
    #find where the min balance calcaulted equals the balance of a user
    if bal == balance_lowest:
        print('This user has the lower balance: ')
        print(dataset['name'], balance_lowest)

This user has the lower balance:
Avery Flynn 1214.1

In [48]:
balance_highest = max(balance_lowest)

for dataset in datasets:
    bal = float(dataset['balance'].strip('$').replace(',',''))
    
    #find where the min balance calcaulted equals the balance of a user
    if bal == balance_highest:
        print('This user has the lower balance: ')
        print(dataset['name'], balance_highest)

This user has the lower balance:
Fay Hammond 3919.64

In [26]:
dataset

{'_id': '54e23c3ed945981ba2580614',
 'index': 18,
 'guid': 'e608dc5c-fee4-4086-971b-3ebd37bfa137',
 'isActive': True,
 'balance': '$2,227.79',
 'picture': 'http://placehold.it/32x32',
 'age': 22,
 'eyeColor': 'brown',
 'name': 'Ewing Larson',
 'gender': 'male',
 'company': 'ESCENTA',
 'email': 'ewinglarson@escenta.com',
 'phone': '+1 (943) 439-3760',
 'address': '136 Beard Street, Wattsville, New Hampshire, 2803',
 'about': 'Veniam eiusmod exercitation culpa mollit reprehenderit ullamco voluptate voluptate irure qui duis anim et. Laborum dolor quis do voluptate. In pariatur dolor id mollit et enim. Qui ex qui in cillum irure enim non reprehenderit irure et excepteur aliquip eu eu.\r\n',
 'registered': '2014-07-21T19:17:41 +05:00',
 'latitude': 15.903555,
 'longitude': -159.721203,
 'tags': ['Lorem',
  'magna',
  'dolor',
  'aliquip',
  'reprehenderit',
  'eu',
  'voluptate'],
 'friends': [{'id': 0, 'name': 'Suzette Huffman'},
  {'id': 1, 'name': 'Paige Santiago'},
  {'id': 2, 'name': 'Dollie Fernandez'}],
 'greeting': 'Hello, Ewing Larson! You have 16 unread messages.',
 'favoriteFruit': 'strawberry'}

In [49]:
fruits = []

for dataset in datasets:
    fruits.append(dataset['favoriteFruit'])
    
fruits

['strawberry',
 'apple',
 'apple',
 'banana',
 'apple',
 'apple',
 'banana',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'strawberry',
 'apple',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'apple',
 'strawberry']

In [50]:
set(fruits)

{'apple', 'banana', 'strawberry'}

In [51]:
fruits.count('apple')

6

In [52]:
fruits.count('banana')

4

In [53]:
fruits.count('strawberry')

9

In [54]:
max(fruits, key=fruits.count)

'strawberry'

In [55]:
min(fruits, key=fruits.count)

'banana'

In [59]:
total_unread_message = 0

for dataset in datasets:
    message = dataset['greeting']
    message_count_lowest = message.split(' ')
    for word in message_count_lowest:
        if word.isdigit():
            total_unread_message += int(word)
total_unread_message

210